@import url(../stylesheet/tabs.css);
/* line 1, ../sass/_base.sass */
.height-100 { height: 100%; }

/* line 4, ../sass/_base.sass */
.hidden { display: none; }

/* line 7, ../sass/_base.sass */
.spacer_h { height: 20px; }

/* line 10, ../sass/_base.sass */
.with-decoration { color: #263238; font-family: "ProximaNova-Semibold"; background-color: #ffe082; padding: 10px 100px 10px 15px; display: inline-block; font-size: 28px; }

/* line 18, ../sass/_base.sass */
.title { margin-bottom: 30px; margin-top: 50px; }

/* line 22, ../sass/_base.sass */
section { padding: 25px 0 0 0; }

/* line 25, ../sass/_base.sass */
h2, p { color: #2e2e2e; }

/* line 4, ../sass/mobile_styles.sass */
.mob_menu_btn { float: left; }
/* line 6, ../sass/mobile_styles.sass */
.mob_menu_btn a.mob_menu { background-color: #3f7b9f; color: #fff; border-radius: 5px; font-size: 16px; text-align: center; padding: 8px 12px; display: inline-block; font-family: "ProximaNova-Semibold"; }

/* line 15, ../sass/mobile_styles.sass */
.butuns { float: right; }
/* line 17, ../sass/mobile_styles.sass */
.butuns .mobile_cart { background: #ffe083 url(../img/cart_icon.png) 7px 12px no-repeat; padding: 7px 13px 5px 28px; position: relative; top: -10px; border-radius: 5px; color: #000; font-size: 16px; display: inline-block; }
/* line 26, ../sass/mobile_styles.sass */
.butuns .mobile_cart:hover { background-color: #e5c975; }
/* line 28, ../sass/mobile_styles.sass */
.butuns .mobile_cart a { color: #000; }
/* line 30, ../sass/mobile_styles.sass */
.butuns .mob_search { display: inline-block; }
/* line 32, ../sass/mobile_styles.sass */
.butuns .mob_search .search_opener { border: 1px solid #546e7b; display: block; width: 41px; height: 35px; border-radius: 5px; background: #fff url(../img/search_tool.png) center center no-repeat; }
/* line 39, ../sass/mobile_styles.sass */
.butuns .mob_search input { display: none; position: absolute; left: 5%; width: 90%; top: 50px; padding: 7px 15px; border: 1px solid #546e7b; border-radius: 5px; z-index: 41; }
/* line 49, ../sass/mobile_styles.sass */
.butuns .tel { display: inline-block; width: 40px; height: 33px; border-radius: 5px; background: #cfd8dd url(../img/phone_call.png) center center no-repeat; }
/* line 55, ../sass/mobile_styles.sass */
.butuns .mail { display: inline-block; width: 40px; height: 33px; border-radius: 5px; background: #cfd8dd url(../img/mail.png) center center no-repeat; }

/* line 62, ../sass/mobile_styles.sass */
.mob_cats_wrap, .mobile_mnu { display: none; }

/* line 65, ../sass/mobile_styles.sass */
.mobile_mnu { position: relative; }
/* line 67, ../sass/mobile_styles.sass */
.mobile_mnu .bg_blue { background: #3e7ba0; padding: 30px 0; }
/* line 71, ../sass/mobile_styles.sass */
.mobile_mnu .bg_blue .mobile_nav ul { margin: 0; padding: 0 20px; -webkit-columns: 2; -moz-columns: 2; columns: 2; }
/* line 75, ../sass/mobile_styles.sass */
.mobile_mnu .bg_blue .mobile_nav ul li { list-style-type: none; margin: 0px 0 10px 0; }
/* line 78, ../sass/mobile_styles.sass */
.mobile_mnu .bg_blue .mobile_nav ul li a { color: #fff; font-size: 18px; font-family: "ProximaNova-Semibold"; }
/* line 82, ../sass/mobile_styles.sass */
.mobile_mnu .bg_blue .mobile_nav ul li a:hover { color: #ffe082; text-decoration: none; }
/* line 85, ../sass/mobile_styles.sass */
.mobile_mnu .bg_yellow { background-color: #ffe082; }
/* line 87, ../sass/mobile_styles.sass */
.mobile_mnu .bg_yellow .mob_catalog { color: #000; font-size: 25px; font-family: "ProximaNova-Semibold"; padding: 10px 20px; display: block; text-decoration: none; }
/* line 94, ../sass/mobile_styles.sass */
.mobile_mnu .bg_yellow .mob_catalog:after { content: ""; display: block; width: 18px; height: 10px; background-image: url(../img/arrow_down.png); position: absolute; right: 28px; top: 20px; }
/* line 103, ../sass/mobile_styles.sass */
.mobile_mnu .bg_yellow .mob_cats_wrap { padding: 15px 0 15px 25px; background-color: #3e8099; margin-top: 0; }
/* line 107, ../sass/mobile_styles.sass */
.mobile_mnu .bg_yellow .mob_cats_wrap li { list-style-type: none; margin: 0px 0 10px 0; }
/* line 110, ../sass/mobile_styles.sass */
.mobile_mnu .bg_yellow .mob_cats_wrap li a { color: #fff; font-size: 18px; font-family: "ProximaNova-Light"; display: block; }
/* line 115, ../sass/mobile_styles.sass */
.mobile_mnu .bg_yellow .mob_cats_wrap li a:hover { color: #fff; text-decoration: none; }

/* line 120, ../sass/mobile_styles.sass */
.single_akt_tovar .to_cart, .aktcii .single_akt_tovar .overlay .buy, .single_akt_tovar .single_hit_tov .buy, .single_hit_tov .single_akt_tovar .buy, .single_akt_tovar .cart_info .links .buy, .cart_info .links .single_akt_tovar .buy, .single_akt_tovar .one_tovar .btns .buy, .one_tovar .btns .single_akt_tovar .buy { display: block; width: 145px; background-color: #689f38; padding: 10px; text-align: center; color: #fff; font-size: 14px; border-radius: 5px; }

/* line 130, ../sass/mobile_styles.sass */
.prev_item, .next_item { cursor: pointer; width: 31px !important; height: 52px !important; background-image: url(../img/slider_nav.png) !important; }

/* line 135, ../sass/mobile_styles.sass */
.prev_item { background-position: left top !important; }
/* line 137, ../sass/mobile_styles.sass */
.prev_item:hover { background-position: left bottom !important; }

/* line 139, ../sass/mobile_styles.sass */
.next_item { background-position: right top !important; float: right; }
/* line 142, ../sass/mobile_styles.sass */
.next_item:hover { background-position: right bottom !important; }

/* line 146, ../sass/mobile_styles.sass */
a.show_more { font-size: 22px; color: #71777a; display: block; position: relative; }
/* line 151, ../sass/mobile_styles.sass */
a.show_more span { border-bottom: 1px dashed #71777a; }
/* line 153, ../sass/mobile_styles.sass */
a.show_more span:hover { text-decoration: none; color: #000; border-bottom: 1px solid #000; }
/* line 157, ../sass/mobile_styles.sass */
a.show_more:hover { text-decoration: none; }
/* line 159, ../sass/mobile_styles.sass */
a.show_more:before { content: ""; display: block; position: absolute; top: -136px; left: 0; width: 100%; height: 136px; background-color: rgba(255, 255, 255, 0); background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.9) 70%, white 100%); background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.9) 70%, white 100%); }

/* line 6, ../sass/main.sass */
body { font-family: "ProximaNova-Regular", sans-serif; font-weight: normal; font-size: 16px; min-width: 320px; position: relative; line-height: 1.6; -webkit-font-smoothing: antialiased; overflow-x: hidden; }

/* line 16, ../sass/main.sass */
body input:focus:required:invalid, body textarea:focus:required:invalid { color: red; }

/* line 19, ../sass/main.sass */
body input:required:valid, body textarea:required:valid { color: green; }

/* line 24, ../sass/main.sass */
header .logo_wrap { text-align: center; line-height: 125px; }
/* line 27, ../sass/main.sass */
header .logo_wrap img { max-width: 100%; height: auto; vertical-align: middle; }
/* line 31, ../sass/main.sass */
header .call_back, header .write_us { background-color: #cfd8dc; color: #000; width: 100%; font-size: 14px; display: inline-block; padding: 11px 20px 15px 40px; line-height: 14px; font-family: "ProximaNova-Regular"; }
/* line 40, ../sass/main.sass */
header .call_back { background-image: url(../img/phone_call.png); background-repeat: no-repeat; background-position: 14px 9px; }
/* line 44, ../sass/main.sass */
header .write_us { background-image: url(../img/mail.png); background-repeat: no-repeat; background-position: 14px 11px; }
/* line 48, ../sass/main.sass */
header #header_search_form { margin-top: 20px; }
/* line 50, ../sass/main.sass */
header #header_search_form input { display: block; width: 100%; background-color: #fff; background-image: url(../img/search_tool.png); background-repeat: no-repeat; background-position: 35px 10px; border: 1px solid #546e7a; -webkit-border-radius: 5px; border-radius: 5px; font-family: "ProximaNova-ThinItalic"; font-size: 14px; padding-left: 60px; padding-top: 10px; padding-bottom: 10px; padding-right: 10px; }
/* line 4, ../sass/bourbon/css3/_placeholder.scss */
header #header_search_form input::-webkit-input-placeholder { color: #000; }
/* line 4, ../sass/bourbon/css3/_placeholder.scss */
header #header_search_form input::-moz-placeholder { color: #000; }
/* line 4, ../sass/bourbon/css3/_placeholder.scss */
header #header_search_form input:-moz-placeholder { color: #000; }
/* line 4, ../sass/bourbon/css3/_placeholder.scss */
header #header_search_form input:-ms-input-placeholder { color: #000; }
/* line 68, ../sass/main.sass */
header .phone_wrap { margin-top: 12px; }
/* line 70, ../sass/main.sass */
header .phone_wrap a { background: url(../img/header_cal.png) no-repeat; background-position: 4px 2px; font-size: 20px; padding-left: 33px; color: #000; font-family: "ProximaNova-Light"; }
/* line 77, ../sass/main.sass */
header .phone_wrap a:hover { text-decoration: none; }
/* line 79, ../sass/main.sass */
header .mini_cart { margin: 16px 0 0 0; }
/* line 81, ../sass/main.sass */
header .mini_cart a { font-size: 12px; color: #263238; display: inline-block; padding: 13px 33px 11px; text-transform: uppercase; background-color: #ffe082; -webkit-border-radius: 5px; border-radius: 5px; background-image: url(../img/cart_icon.png); background-position: 8px 13px; background-repeat: no-repeat; font-family: "ProximaNova-Light"; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
/* line 95, ../sass/main.sass */
header .mini_cart a:hover { background-color: #fbd257; text-decoration: none; }
/* line 98, ../sass/main.sass */
header .mini_cart a span { font-family: "ProximaNova-Semibold"; }
/* line 100, ../sass/main.sass */
header .home_branding { background: url(../img/home_header.png) no-repeat; background-position: top center; padding-bottom: 32px; background-color: #0072b1; }
/* line 107, ../sass/main.sass */
header .catalog_menu ul { padding: 0; margin: 0; }
/* line 110, ../sass/main.sass */
header .catalog_menu ul li { list-style-type: none; }
/* line 112, ../sass/main.sass */
header .catalog_menu ul li a { font-size: 18px; color: #263238; background-color: #ffe082; padding: 10px 10px 10px 55px; position: relative; display: block; }
/* line 119, ../sass/main.sass */
header .catalog_menu ul li a:after { content: ""; display: block; width: 18px; height: 10px; background-image: url(../img/arrow_down.png); position: absolute; right: 28px; top: 20px; }
/* line 128, ../sass/main.sass */
header .catalog_menu ul li a:hover { text-decoration: none; }
/* line 131, ../sass/main.sass */
header .main_menu li.catalog_menu_cats { list-style-type: none; border-top: 3px solid #ffe082; padding-top: 0; }
/* line 135, ../sass/main.sass */
header .main_menu li.catalog_menu_cats a.catalog_menu_parent { font-size: 18px; color: #263238; background-color: #ffe082; padding: 10px 10px 10px 55px; position: relative; display: block; width: 200px; text-align: left; }
/* line 144, ../sass/main.sass */
header .main_menu li.catalog_menu_cats a.catalog_menu_parent:after { content: ""; display: block; width: 18px; height: 10px; background-image: url(../img/arrow_down.png); position: absolute; right: 28px; top: 20px; }
/* line 153, ../sass/main.sass */
header .main_menu li.catalog_menu_cats:hover { text-decoration: none; }
/* line 155, ../sass/main.sass */
header .main_menu li.catalog_menu_cats:hover .categories_list { display: block; }
/* line 157, ../sass/main.sass */
header .main_menu ul { display: flex; -webkit-justify-content: space-between; justify-content: space-between; margin: 0; padding: 0; }
/* line 163, ../sass/main.sass */
header .main_menu ul li { display: inline-block; list-style-type: none; text-align: center; padding-top: 3px; }
/* line 168, ../sass/main.sass */
header .main_menu ul li:hover { border-top: 3px solid #ffe082; padding-top: 0; }
/* line 172, ../sass/main.sass */
header .main_menu ul li a { color: #FFF; font-size: 18px; display: inline-block; padding: 10px 15px; }
/* line 177, ../sass/main.sass */
header .main_menu ul li a:hover { text-decoration: none; color: #ffe082; }
/* line 181, ../sass/main.sass */
header .main_menu .categories_list { display: none; width: 100%; position: absolute; left: 3px; top: 51px; z-index: 1000; padding: 25px 25px 25px 55px; background-color: #FFF; -webkit-transition: all 1s; -moz-transition: all 1s; transition: all 1s; -webkit-columns: 3 8em; -moz-columns: 3 8em; columns: 3 8em; }
/* line 191, ../sass/main.sass */
header .main_menu .categories_list:before { content: ""; position: absolute; top: -20px; left: 152px; border: 10px solid transparent; border-bottom: 10px solid #fff; }
/* line 199, ../sass/main.sass */
header .main_menu .categories_list .category_item { border: none; display: block; text-align: left; padding-top: 0; margin-bottom: 20px; }
/* line 205, ../sass/main.sass */
header .main_menu .categories_list .category_item .category_link { color: #383838; font-size: 18px; border: none; padding: 0; margin: 0; }
/* line 211, ../sass/main.sass */
header .main_menu .categories_list .category_item .category_link:hover { border: none; color: #3f79a3; text-decoration: none; }
/* line 215, ../sass/main.sass */
header .gift_wraper { margin-top: 60px; }
/* line 217, ../sass/main.sass */
header .gift_wraper span { font-size: 39px; line-height: 39px; margin-top: 10px; }
/* line 221, ../sass/main.sass */
header .gift_form { margin-top: 40px; }
/* line 223, ../sass/main.sass */
header .gift_form input { display: block; width: 100%; font-family: "ProximaNova-Light"; font-size: 16px; text-align: left; color: #000; background: #799dc4; border: 1px solid #ffe082; border-radius: 5px; padding: 7px 30px; }
/* line 4, ../sass/bourbon/css3/_placeholder.scss */
header .gift_form input::-webkit-input-placeholder { color: #000; }
/* line 4, ../sass/bourbon/css3/_placeholder.scss */
header .gift_form input::-moz-placeholder { color: #000; }
/* line 4, ../sass/bourbon/css3/_placeholder.scss */
header .gift_form input:-moz-placeholder { color: #000; }
/* line 4, ../sass/bourbon/css3/_placeholder.scss */
header .gift_form input:-ms-input-placeholder { color: #000; }
/* line 236, ../sass/main.sass */
header .gift_form button { display: block; width: 100%; color: #000; padding: 8px 29px; font-size: 16px; border-radius: 5px; font-family: "ProximaNova-Light"; text-align: center; background-color: #ffe082; border: none; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
/* line 248, ../sass/main.sass */
header .gift_form button:hover { background-color: #fbd257; }

/* line 252, ../sass/main.sass */
header.inner_page .home_branding { padding-bottom: 0; }

/* line 255, ../sass/main.sass */
.categ { padding: 0; }

/* line 258, ../sass/main.sass */
.clients_corousel { background-color: #f4f4f4; padding: 25px 0; margin-top: 25px; }
/* line 263, ../sass/main.sass */
.clients_corousel .logos_carousel .one_client { text-align: center; line-height: 80px; }
/* line 266, ../sass/main.sass */
.clients_corousel .logos_carousel .one_client img { vertical-align: middle; max-width: 100%; }
/* line 269, ../sass/main.sass */
.clients_corousel .customNav { margin-top: 33%; }
/* line 271, ../sass/main.sass */
.clients_corousel .customNav .prev, .clients_corousel .customNav .next { cursor: pointer; width: 31px; height: 52px; background-image: url(../img/slider_nav.png); }
/* line 276, ../sass/main.sass */
.clients_corousel .customNav .prev { background-position: left top; }
/* line 278, ../sass/main.sass */
.clients_corousel .customNav .prev:hover { background-position: left bottom; }
/* line 280, ../sass/main.sass */
.clients_corousel .customNav .next { background-position: right top; }
/* line 282, ../sass/main.sass */
.clients_corousel .customNav .next:hover { background-position: right bottom; }

/* line 284, ../sass/main.sass */
.no-padding { padding: 0; }

/* line 288, ../sass/main.sass */
.cat_items { margin: 30px 0 0; }
/* line 290, ../sass/main.sass */
.cat_items .cat_wrap { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -moz-box-pack: justify; box-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; justify-content: space-between; -ms-flex-pack: justify; padding: 0; margin: 0; }
/* line 295, ../sass/main.sass */
.cat_items .cat_wrap .cat_item { list-style-type: none; position: relative; }
/* line 298, ../sass/main.sass */
.cat_items .cat_wrap .cat_item:hover { text-decoration: none; }
/* line 302, ../sass/main.sass */
.cat_items .cat_wrap .cat_item .cat_item_link { display: inline-block; color: #263238; font-size: 24px; font-family: "ProximaNova-Semibold"; background-color: #ffe082; padding: 10px 15px; width: 320px; position: relative; }
/* line 311, ../sass/main.sass */
.cat_items .cat_wrap .cat_item .cat_item_link:hover { text-decoration: none; }
/* line 315, ../sass/main.sass */
.cat_items .cat_wrap .cat_item .cat_item_link:after { content: ""; display: block; width: 18px; height: 10px; background-image: url(../img/cat_arrow.png); position: absolute; right: 28px; top: 23px; }
/* line 324, ../sass/main.sass */
.cat_items .cat_wrap .cat_item .vodosnab { background-image: url(../img/cat1.png); background-repeat: no-repeat; background-position: 15px center; }
/* line 328, ../sass/main.sass */
.cat_items .cat_wrap .cat_item .otoplenie { background-image: url(../img/cat2.png); background-repeat: no-repeat; background-position: 15px center; padding-left: 60px; }
/* line 333, ../sass/main.sass */
.cat_items .cat_wrap .cat_item .kanalizaciya { background-image: url(../img/cat3.png); background-repeat: no-repeat; background-position: 15px center; }
/* line 337, ../sass/main.sass */
.cat_items .cat_wrap .cat_item .submenu { background-color: #3e78a4; padding: 20px; margin: 0; position: absolute; z-index: 1000; width: 100%; display: none; }
/* line 345, ../sass/main.sass */
.cat_items .cat_wrap .cat_item .submenu:before { content: ""; position: absolute; top: -20px; right: 27px; border: 10px solid transparent; border-bottom: 10px solid #3e78a4; }
/* line 352, ../sass/main.sass */
.cat_items .cat_wrap .cat_item .submenu li { list-style-type: none; margin: 12px 0; }
/* line 355, ../sass/main.sass */
.cat_items .cat_wrap .cat_item .submenu li a { color: #FFF; display: block; font-size: 15px; }
/* line 359, ../sass/main.sass */
.cat_items .cat_wrap .cat_item .submenu li a:hover { color: #ffe082; text-decoration: none; }

/* line 363, ../sass/main.sass */
.submit_delivery { padding: 0 0 50px 0; }

/* line 366, ../sass/main.sass */
.aktcii .title { margin-bottom: 30px; }
/* line 368, ../sass/main.sass */
.aktcii .single_akt_tovar { border: 1px solid #cfd8dc; padding: 15px; position: relative; }
/* line 373, ../sass/main.sass */
.aktcii .single_akt_tovar:hover { border: 1px solid #fdd835; }
/* line 375, ../sass/main.sass */
.aktcii .single_akt_tovar:hover .overlay { opacity: 1; }
/* line 377, ../sass/main.sass */
.aktcii .single_akt_tovar .overlay { opacity: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.85); position: absolute; left: 0; top: 0; padding: 16px; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
/* line 387, ../sass/main.sass */
.aktcii .single_akt_tovar .overlay .compare { font-size: 12px; display: block; padding: 15px 0 6px 40px; background: url(../img/compare.png) no-repeat; background-position: 8px center; color: #919a9e; -webkit-filter: grayscale(100%); filter: grayscale(100%); }
/* line 399, ../sass/main.sass */
.aktcii .single_akt_tovar .overlay .top .overlay_title { float: left; width: 50%; font-size: 16px; line-height: 18px; color: #3f72ac; }
/* line 405, ../sass/main.sass */
.aktcii .single_akt_tovar .overlay .top .compare {    cursor: pointer; float: right; position: relative; top: -10px; }
/* line 409, ../sass/main.sass */
.aktcii .single_akt_tovar .overlay .btns_wrap { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -moz-box-pack: justify; box-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; justify-content: space-between; -ms-flex-pack: justify; -webkit-box-align: end; -moz-box-align: end; box-align: end; -webkit-align-items: flex-end; -moz-align-items: flex-end; -ms-align-items: flex-end; -o-align-items: flex-end; align-items: flex-end; -ms-flex-align: end; }
/* line 413, ../sass/main.sass */
.aktcii .single_akt_tovar .overlay .to_cart, .aktcii .single_akt_tovar .overlay .buy { display: block; width: 145px; background-color: #689f38; padding: 10px; text-align: center; color: #fff; font-size: 14px; -webkit-border-radius: 5px; border-radius: 5px; }
/* line 423, ../sass/main.sass */
.aktcii .single_akt_tovar .overlay .buy { background-color: #3e7e9a; }
/* line 426, ../sass/main.sass */
.aktcii .single_akt_tovar .overlay .overlay_price { color: #263238; font-family: "ProximaNova-Light"; font-size: 18px; margin-top: 100px; }
/* line 431, ../sass/main.sass */
.aktcii .single_akt_tovar .overlay .overlay_price span { font-family: "ProximaNova-Semibold"; margin-right: 5px; }
/* line 435, ../sass/main.sass */
.aktcii .single_akt_tovar .tov_name { font-size: 16px; line-height: 18px; height: 70px; width: 100%; color: #3f72ac; }
/* line 441, ../sass/main.sass */
.aktcii .single_akt_tovar .red { color: #a23030; font-size: 14px; }
/* line 445, ../sass/main.sass */
.aktcii .single_akt_tovar .price { font-size: 16px; padding: 10px 30px 10px 16px; background-color: #ffe082; width: 100%; color: #263238; position: relative; font-family: "ProximaNova-Light"; font-size: 18px; }
/* line 454, ../sass/main.sass */
.aktcii .single_akt_tovar .price:before { content: ""; display: block; width: 16px; height: 100%; position: absolute; left: -16px; top: 0; background-color: #ffe082; }
/* line 463, ../sass/main.sass */
.aktcii .single_akt_tovar .price span { font-family: "ProximaNova-Semibold"; margin-right: 5px; }
/* line 466, ../sass/main.sass */
.aktcii .single_akt_tovar .tov_img { text-align: center; height: 165px; line-height: 165px; }
/* line 470, ../sass/main.sass */
.aktcii .single_akt_tovar .tov_img img { max-width: 100%; vertical-align: middle; }
/* line 473, ../sass/main.sass */
.aktcii .single_akt_tovar .more { margin-top: 7px; display: inline-block; font-size: 14px; color: #3f7e9b; text-decoration: underline; }
/* line 479, ../sass/main.sass */
.aktcii .best_offer { background-color: #ffe082; padding: 25px; }
/* line 482, ../sass/main.sass */
.aktcii .best_offer .tov_name { font-size: 21px; color: #263238; font-family: "ProximaNova-Semibold"; line-height: 22px; }
/* line 487, ../sass/main.sass */
.aktcii .best_offer .tov_desc { font-size: 14px; color: #263238; line-height: 16px; margin-top: 23px; }
/* line 492, ../sass/main.sass */
.aktcii .best_offer .old_price { font-size: 14px; font-family: "ProximaNova-Light"; margin-top: 31px; }
/* line 496, ../sass/main.sass */
.aktcii .best_offer .offer_price { font-family: "ProximaNova-Light"; font-size: 32px; text-transform: uppercase; }
/* line 500, ../sass/main.sass */
.aktcii .best_offer .offer_price span { color: #a23030; margin-right: 5px; font-family: "ProximaNova-Semibold"; }
/* line 504, ../sass/main.sass */
.aktcii .best_offer .more { display: inline-block; padding: 5px 18px; border: 1px solid #3f71ae; -webkit-border-radius: 5px; margin-top: 15px; border-radius: 5px; text-align: center; color: #3f72ac; font-size: 14px; font-family: "ProximaNova-Light"; }
/* line 515, ../sass/main.sass */
.aktcii .best_offer .more:hover { border: 1px solid #fff; color: #FFF; }
/* line 518, ../sass/main.sass */
.aktcii .best_offer .label { background-image: url(../img/label.png); background-repeat: no-repeat; padding: 4px 10px 18px 18px; font-size: 15px; font-family: "ProximaNova-Semibold"; color: #fff; position: absolute; right: -28px; }
/* line 527, ../sass/main.sass */
.aktcii .best_offer .best_offer_img { overflow: hidden; position: relative; right: -23px; margin-top: 75px; }
/* line 532, ../sass/main.sass */
.aktcii .best_offer .best_offer_img img { position: relative; right: -15%; max-width: 100%; }
/* line 536, ../sass/main.sass */
.aktcii .subscribe_line { background-color: #3e7e9a; font-family: "ProximaNova-Light"; font-size: 22px; color: #fff; padding: 15px 25px; }
/* line 542, ../sass/main.sass */
.aktcii .subscribe_line span { font-family: "ProximaNova-Semibold"; }
/* line 544, ../sass/main.sass */
.aktcii .subscribe_line form { display: inline-block; font-size: 14px; position: relative; top: -3px; }
/* line 549, ../sass/main.sass */
.aktcii .subscribe_line form input[type="email"] { font-size: 18px; color: #FFF; text-align: left; background: transparent; border: 1px solid #84adbe; width: 320px; padding: 5px; margin-left: 90px; -webkit-border-radius: 5px; border-radius: 5px; }
/* line 4, ../sass/bourbon/css3/_placeholder.scss */
.aktcii .subscribe_line form input[type="email"]::-webkit-input-placeholder { color: #84adbe; text-align: center; }
/* line 4, ../sass/bourbon/css3/_placeholder.scss */
.aktcii .subscribe_line form input[type="email"]::-moz-placeholder { color: #84adbe; text-align: center; }
/* line 4, ../sass/bourbon/css3/_placeholder.scss */
.aktcii .subscribe_line form input[type="email"]:-moz-placeholder { color: #84adbe; text-align: center; }
/* line 4, ../sass/bourbon/css3/_placeholder.scss */
.aktcii .subscribe_line form input[type="email"]:-ms-input-placeholder { color: #84adbe; text-align: center; }
/* line 563, ../sass/main.sass */
.aktcii .subscribe_line form button[type="submit"] { border: none; background-color: #ffe082; font-size: 22px; color: #13455a; margin-left: 12px; text-align: center; padding: 5px; width: 180px; -webkit-border-radius: 5px; border-radius: 5px; }

/* line 576, ../sass/main.sass */
.single_hit_tov { width: 285px; float: left; margin: 5px 2px; border: 1px solid #90a4ae; padding: 30px 18px 18px 18px; position: relative; margin-bottom: 5px; }
/* line 584, ../sass/main.sass */
.single_hit_tov:hover { border: 1px solid #ffe082; }
/* line 586, ../sass/main.sass */
.single_hit_tov:hover .info_overlay { opacity: 1; z-index: 10; }
/* line 589, ../sass/main.sass */
.single_hit_tov .info_overlay { opacity: 0; position: absolute; z-index: 0; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100%; padding: 20px; background: rgba(255, 255, 255, 0.85); -webkit-transition: 0.2s all ease-in-out; -moz-transition: 0.2s all ease-in-out; transition: 0.2s all ease-in-out; }
/* line 602, ../sass/main.sass */
.single_hit_tov .info_overlay .compare {cursor: pointer; font-size: 12px; display: block; position: absolute; left: 0; top: 0; padding: 15px 0 6px 40px; background: url(../img/compare.png) no-repeat; background-position: 8px center; color: #919a9e; -webkit-filter: grayscale(100%); filter: grayscale(100%); }
/* line 613, ../sass/main.sass */
.single_hit_tov .info_overlay .descript { text-align: center; font-size: 14px; color: #1f1f1f; line-height: 16px; margin: 15px 0; }
/* line 619, ../sass/main.sass */
.single_hit_tov .info_overlay .price { margin-top: 20px; }
/* line 621, ../sass/main.sass */
.single_hit_tov .info_overlay .but, .single_hit_tov .info_overlay .to_cart, .single_hit_tov .info_overlay .aktcii .single_akt_tovar .overlay .buy, .aktcii .single_akt_tovar .overlay .single_hit_tov .info_overlay .buy, .single_hit_tov .info_overlay .buy { margin: 22px 0; }
/* line 623, ../sass/main.sass */
.single_hit_tov .info_overlay .status { width: 120px; margin: 0 auto; color: #689f38; background-position: 0 center !important; font-size: 18px; font-family: "ProximaNova-Semibold"; padding-left: 28px; }
/* line 631, ../sass/main.sass */
.single_hit_tov .info_overlay .nalichie { background: url(../img/nalichie.png) no-repeat; }
/* line 634, ../sass/main.sass */
.single_hit_tov .tov_img { text-align: center; width: 100%; }
/* line 637, ../sass/main.sass */
.single_hit_tov .tov_img img { max-width: 100%; max-height: 186px; }
/* line 640, ../sass/main.sass */
.single_hit_tov .tov_name { text-align: center; color: #3e7e9a; font-size: 18px; margin: 15px 0; font-family: "ProximaNova-Semibold"; min-height: 56px; }
/* line 647, ../sass/main.sass */
.single_hit_tov .tov_name a { color: inherit; font-size: inherit; text-decoration: none; }
/* line 651, ../sass/main.sass */
.single_hit_tov .tov_name a:hover { text-decoration: underline; }
/* line 653, ../sass/main.sass */
.single_hit_tov .tov_name a span { display: block; }
/* line 655, ../sass/main.sass */
.single_hit_tov .price {text-align: center; font-size: 22px; font-family: "ProximaNova-Light"; text-transform: uppercase; color: #263238; margin-bottom: 15px; }
/* line 662, ../sass/main.sass */
.single_hit_tov .price span { font-family: "ProximaNova-Semibold"; margin-right: 5px; }
/* line 665, ../sass/main.sass */
.single_hit_tov .to_cart, .single_hit_tov .aktcii .single_akt_tovar .overlay .buy, .aktcii .single_akt_tovar .overlay .single_hit_tov .buy, .single_hit_tov .buy, .single_hit_tov .cart_info .links .buy, .cart_info .links .single_hit_tov .buy, .single_hit_tov .one_tovar .btns .buy, .one_tovar .btns .single_hit_tov .buy { display: block; width: 100%; background-color: #689f38; padding: 10px; text-align: center; color: #fff; font-size: 22px; -webkit-border-radius: 5px; border-radius: 5px; }
/* line 675, ../sass/main.sass */
.single_hit_tov .buy { background-color: #3e7e9a; }

/* line 679, ../sass/main.sass */
.tov_slider .single_hit_tov { margin: 0 5px; width: 285px; }

/* line 685, ../sass/main.sass */
.next_item_md { position: absolute; right: 0; top: 0; width: 150px; line-height: 150px; text-align: center; background-color: #FFF; background-color: rgba(255, 255, 255, 0); background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.9) 70%, white 100%); background-image: linear-gradient(to right,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.9) 70%, white 100%); height: 100%; }
/* line 695, ../sass/main.sass */
.next_item_md img { vertical-align: middle; margin-top: 130%; cursor: pointer; }

/* line 699, ../sass/main.sass */
.prev_item_md { position: absolute; left: 0; top: 0; width: 150px; line-height: 150px; text-align: center; background-color: #FFF; background-color: rgba(255, 255, 255, 0); background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.9) 70%, white 100%); background-image: linear-gradient(to left,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.9) 70%, white 100%); height: 100%; }
/* line 709, ../sass/main.sass */
.prev_item_md img { vertical-align: middle; margin-top: 130%; cursor: pointer; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); float: left; }

/* line 716, ../sass/main.sass */
.watch_video { background: url(../img/video.png); padding: 25px 0; font-size: 26px; text-align: center; font-family: "ProximaNova-Semibold"; color: #FFF; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; }
/* line 726, ../sass/main.sass */
.watch_video img { margin: 0 7px; }

/* line 729, ../sass/main.sass */
.text_before_footer { padding: 30px 0 75px; }

/* line 732, ../sass/main.sass */
.all_cats { background: #3E7E9A; padding: 40px 0 20px; }
/* line 735, ../sass/main.sass */
.all_cats .all_cat_title { color: #ffe082; font-family: "ProximaNova-Semibold"; }
/* line 738, ../sass/main.sass */
.all_cats ul.cats_list { margin: 0; padding: 0; -webkit-columns: 3; -moz-columns: 3; columns: 3; }
/* line 742, ../sass/main.sass */
.all_cats ul.cats_list li { list-style-type: none; margin-bottom: 25px; }
/* line 745, ../sass/main.sass */
.all_cats ul.cats_list li a { color: #FFF; text-decoration: none; }
/* line 748, ../sass/main.sass */
.all_cats ul.cats_list li a:hover { border-bottom: 1px solid; }

/* line 751, ../sass/main.sass */
footer { background-color: #37474f; padding: 35px 0 50px; }
/* line 755, ../sass/main.sass */
footer nav ul { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -moz-box-pack: justify; box-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; justify-content: space-between; -ms-flex-pack: justify; margin: 0; padding: 0; }
/* line 760, ../sass/main.sass */
footer nav ul li { list-style-type: none; }
/* line 762, ../sass/main.sass */
footer nav ul li a { color: #8298A3; text-decoration: none; }
/* line 765, ../sass/main.sass */
footer nav ul li a:hover { border-bottom: 1px solid; color: #fff; text-decoration: none; }
/* line 769, ../sass/main.sass */
footer .branding { margin-top: 35px; }
/* line 771, ../sass/main.sass */
footer .branding .info { margin-top: 7px; }
/* line 773, ../sass/main.sass */
footer .branding .info img { float: left; margin-top: 5px; }
/* line 776, ../sass/main.sass */
footer .branding .info .call_back { float: right; font-size: 14px; color: #8298a3; border: 1px solid; -webkit-border-radius: 5px; border-radius: 5px; padding: 5px 25px; }
/* line 784, ../sass/main.sass */
footer .branding .info .call_back:hover { color: #fff; border: 1px solid #fff; text-decoration: none; }

/* line 789, ../sass/main.sass */
.table_wraper { margin: 15px 0; text-align: left; }
/* line 792, ../sass/main.sass */
.table_wraper th { margin-bottom: 10px; font-family: "ProximaNova-Black"; }
/* line 795, ../sass/main.sass */
.table_wraper th:first-child { width: 195px; }
/* line 799, ../sass/main.sass */
.table_wraper tr:first-child td { width: 195px; font-family: "ProximaNova-Semibold"; }
/* line 802, ../sass/main.sass */
.table_wraper .name { font-family: "ProximaNova-Semibold"; vertical-align: top; }

/* line 806, ../sass/main.sass */
.confirm_btn { display: inline-block; margin-top: 40px; background-color: #006699; padding: 10px; text-align: center; color: #fff; font-size: 22px; -webkit-border-radius: 5px; border-radius: 5px; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
/* line 817, ../sass/main.sass */
.confirm_btn:hover { background-color: #005580; text-decoration: none; color: #fff; }

/* line 821, ../sass/main.sass */
.confirm { margin-top: 30px; }

/* line 823, ../sass/main.sass */
.label_check { padding-left: 34px; background: url(../img/chekbox_off.png) no-repeat; font-size: 18px; }
/* line 827, ../sass/main.sass */
.label_check input { position: absolute; left: -999999999px; }

/* line 830, ../sass/main.sass */
label.c_on { background: url(../img/chekbox_on.png) no-repeat; }

/* line 833, ../sass/main.sass */
.label_radio { padding-left: 34px; background: url(../img/radio_off.png) no-repeat; font-size: 18px; background-position: 0 center !important; }
/* line 838, ../sass/main.sass */
.label_radio input { position: absolute; left: -999999999px; }

/* line 841, ../sass/main.sass */
label.r_on { background: url(../img/radio_on.png) no-repeat; }

/* line 844, ../sass/main.sass */
fieldset { border: none; }

/* line 848, ../sass/main.sass */
#delivery_method label { font-family: "ProximaNova-Semibold"; }
/* line 850, ../sass/main.sass */
#delivery_method label span { display: block; margin-left: 34px; }
/* line 853, ../sass/main.sass */
#delivery_method input[type="text"], #delivery_method input[type="email"] { display: block; width: 100%; margin: 10px 0; padding: 5px 0 5px 7px; }
/* line 858, ../sass/main.sass */
#delivery_method button { border: none; }

/* line 877, ../sass/main.sass */
.table_cart .cart_table_row { min-height: 115px; border: 1px solid #90a4ae; margin-bottom: 20px; }
/* line 881, ../sass/main.sass */
.table_cart .cart_table_row:first-child { height: 10px; min-height: 0; border: none; padding-left: 20px; }
/* line 886, ../sass/main.sass */
.table_cart .cart_table_row:first-child .table_cell { color: #5a5a5a; font-size: 16px; padding: 0; }
/* line 890, ../sass/main.sass */
.table_cart .cart_table_row .table_cell { float: left; display: inline-block; min-height: 20px; padding: 15px; }
/* line 895, ../sass/main.sass */
.table_cart .cart_table_row .table_cell:nth-child(1) { width: 10%; }
/* line 897, ../sass/main.sass */
.table_cart .cart_table_row .table_cell:nth-child(2) { width: 40%; }
/* line 899, ../sass/main.sass */
.table_cart .cart_table_row .table_cell:nth-child(3) { width: 20%; }
/* line 901, ../sass/main.sass */
.table_cart .cart_table_row .table_cell:nth-child(4) { width: 15%; }
/* line 903, ../sass/main.sass */
.table_cart .cart_table_row .table_cell:nth-child(5) { width: 15%; }
/* line 905, ../sass/main.sass */
.table_cart .tov_img { text-align: center; width: 85px; height: 85px; border: 1px solid #90a4ae; line-height: 85px; }
/* line 911, ../sass/main.sass */
.table_cart .tov_img img { vertical-align: middle; max-width: 100%; }
/* line 914, ../sass/main.sass */
.table_cart .articul, .table_cart .skidka, .table_cart .you_price { font-size: 14px; color: #5a5a5a; margin-top: 16px; }
/* line 918, ../sass/main.sass */
.table_cart .tov_name { font-size: 20px; font-family: "ProximaNova-Semibold"; }
/* line 921, ../sass/main.sass */
.table_cart .skidka { margin-top: 9px; }
/* line 924, ../sass/main.sass */
.table_cart .skidka span { font-size: 20px; font-family: "ProximaNova-Semibold"; }
/* line 927, ../sass/main.sass */
.table_cart .you_price { margin-top: 0; }
/* line 930, ../sass/main.sass */
.table_cart .you_price span { font-size: 20px; font-family: "ProximaNova-Semibold"; }
/* line 933, ../sass/main.sass */
.table_cart .amount { font-size: 20px; font-family: "ProximaNova-Bold"; float: left; }
/* line 937, ../sass/main.sass */
.table_cart .remove { display: block; width: 18px; height: 17px; background-image: url(../img/remove.png); float: right; margin-top: 7px; }
/* line 944, ../sass/main.sass */
.table_cart .remove:hover { background-position: bottom; }
/* line 946, ../sass/main.sass */
.table_cart .number { margin-top: 25px; }
/* line 948, ../sass/main.sass */
.table_cart .number .minus, .table_cart .number .plus { display: inline-block; width: 28px; height: 28px; background: url(../img/mins.png) 0 0 no-repeat; cursor: pointer; }
/* line 954, ../sass/main.sass */
.table_cart .number .plus { background: url(../img/plus.png) 0 0 no-repeat; }
/* line 957, ../sass/main.sass */
.table_cart .number input { text-align: center; display: inline-block; width: 45px; height: 28px; border: 1px solid #607d8b; position: relative; top: -9px; margin: 0 3px; }
/* line 966, ../sass/main.sass */
.table_cart .sum { margin-top: 25px; }

/* line 968, ../sass/main.sass */
.cart { padding-bottom: 120px; }

/* line 971, ../sass/main.sass */
.cart_info .info { float: left; }
/* line 973, ../sass/main.sass */
.cart_info .info ul { margin: 0; padding: 0; }
/* line 976, ../sass/main.sass */
.cart_info .info ul li { list-style-type: none; font-size: 18px; line-height: 18px; color: #1a1a1a; margin: 10px 0 0 0; }
/* line 982, ../sass/main.sass */
.cart_info .links { float: right; margin-top: 10px; }
/* line 985, ../sass/main.sass */
.cart_info .links .to_cart, .cart_info .links .aktcii .single_akt_tovar .overlay .buy, .aktcii .single_akt_tovar .overlay .cart_info .links .buy, .cart_info .links .buy { display: block; float: left; width: 230px; background-color: #689f38; padding: 7px; text-align: center; color: #fff; font-size: 14px; line-height: 22px; -webkit-border-radius: 5px; border-radius: 5px; font-size: 22px; }
/* line 999, ../sass/main.sass */
.cart_info .links .to_cart:hover, .cart_info .links .buy:hover { background-color: #5d8f32; text-decoration: none; }
/* line 1002, ../sass/main.sass */
.cart_info .links .buy { background-color: #3e7e9a; margin-right: 12px; }
/* line 1006, ../sass/main.sass */
.cart_info .links .buy:hover { background-color: #37718a; text-decoration: none; }

/* line 1011, ../sass/main.sass */
.pagination ul { padding: 0; margin: 0; }
/* line 1014, ../sass/main.sass */
.pagination ul li { list-style-type: none; display: inline-block; width: 38px; height: 38px; margin: 0 3px; text-align: center; vertical-align: middle; padding: 5px; }
/* line 1023, ../sass/main.sass */
.pagination ul li a { font-size: 18px; color: #222222; border-bottom: 1px solid #bababa; }
/* line 1027, ../sass/main.sass */
.pagination ul li a:hover { border-bottom: 1px solid #222222; text-decoration: none; }
/* line 1030, ../sass/main.sass */
.pagination .current { background-color: #c4c4c4; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; transition: all 0.2s; }
/* line 1033, ../sass/main.sass */
.pagination .current:hover { background-color: #3f70b0; }
/* line 1035, ../sass/main.sass */
.pagination .current a { color: #fff; border-bottom: none; }
/* line 1038, ../sass/main.sass */
.pagination .current a:hover { text-decoration: none; border-bottom: none; }
/* line 1041, ../sass/main.sass */
.pagination .next { background-color: #3f70b0; padding: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
/* line 1045, ../sass/main.sass */
.pagination .next:hover { background-color: #c4c4c4; }
/* line 1047, ../sass/main.sass */
.pagination .next a { color: #ffe082; border-bottom: none; font-size: 28px; line-height: 34px; }
/* line 1052, ../sass/main.sass */
.pagination .next a:hover { text-decoration: none; border-bottom: none; }

/* line 1056, ../sass/main.sass */
.baner { text-align: center; width: 100%; }
/* line 1059, ../sass/main.sass */
.baner img { width: 100%; height: auto; }

/* line 1062, ../sass/main.sass */
.fancybox-close { right: 0; top: 10px; height: 30px; }

/* line 1066, ../sass/main.sass */
.one_click { width: 560px; background-color: #FFF; border: 1px solid #6f6f6f; }
.modal_email { width: 560px; background-color: #FFF; border: 1px solid #6f6f6f; }
.modal_phone { width: 560px; background-color: #FFF; border: 1px solid #6f6f6f; }
/* line 1070, ../sass/main.sass */
.one_click .heading { background-color: #006699; padding: 10px 15px; color: #fff; font-size: 22px; font-family: "ProximaNova-Semibold"; }
.modal_email .heading { background-color: #006699; padding: 10px 15px; color: #fff; font-size: 22px; font-family: "ProximaNova-Semibold"; }
.modal_phone .heading { background-color: #006699; padding: 10px 15px; color: #fff; font-size: 22px; font-family: "ProximaNova-Semibold"; }
/* line 1076, ../sass/main.sass */
.one_click #one_click_buy { padding: 10px; font-size: 18px; color: #000; font-family: "ProximaNova-Semibold"; }
.modal_email #modal_email_1 { padding: 10px; font-size: 18px; color: #000; font-family: "ProximaNova-Semibold"; }
.modal_phone #modal_phone_1 { padding: 10px; font-size: 18px; color: #000; font-family: "ProximaNova-Semibold"; }
/* line 1081, ../sass/main.sass */
.one_click #one_click_buy input { display: block; width: 100%; padding: 5px 10px; font-size: 16px; margin: 10px 0; color: #000; border: 1px solid #888888; font-family: "ProximaNova-Light"; }
.modal_email #modal_email_1 input { display: block; width: 100%; padding: 5px 10px; font-size: 16px; margin: 10px 0; color: #000; border: 1px solid #888888; font-family: "ProximaNova-Light"; }
.modal_phone #modal_phone_1 input { display: block; width: 100%; padding: 5px 10px; font-size: 16px; margin: 10px 0; color: #000; border: 1px solid #888888; font-family: "ProximaNova-Light"; }
/* line 4, ../sass/bourbon/css3/_placeholder.scss */
.one_click #one_click_buy input::-webkit-input-placeholder { color: #acacac; }
.modal_email #modal_email_1 input::-webkit-input-placeholder { color: #acacac; }
.modal_phone #modal_phone_1 input::-webkit-input-placeholder { color: #acacac; }
/* line 4, ../sass/bourbon/css3/_placeholder.scss */
.one_click #one_click_buy input::-moz-placeholder { color: #acacac; }
.modal_email #modal_email_1 input::-moz-placeholder { color: #acacac; }
.modal_phone #modal_phone_1 input::-moz-placeholder { color: #acacac; }
/* line 4, ../sass/bourbon/css3/_placeholder.scss */
.one_click #one_click_buy input:-moz-placeholder { color: #acacac; }
.modal_email #modal_email_1 input:-moz-placeholder { color: #acacac; }
.modal_phone #modal_phone_1 input:-moz-placeholder { color: #acacac; }
/* line 4, ../sass/bourbon/css3/_placeholder.scss */
.one_click #one_click_buy input:-ms-input-placeholder { color: #acacac; }
.modal_email #modal_email_1 input:-ms-input-placeholder { color: #acacac; }
.modal_phone #modal_phone_1 input:-ms-input-placeholder { color: #acacac; }
/* line 1092, ../sass/main.sass */
.one_click #one_click_buy button { display: block; border: none; width: 180px; background-color: #689f38; padding: 10px; text-align: center; color: #fff; margin: 18px 0 0 0; font-size: 22px; -webkit-border-radius: 5px; border-radius: 5px; -webkit-transition: 0.2s; -moz-transition: 0.2s; transition: 0.2s; }
.modal_email #modal_email_1 button { display: block; border: none; width: 180px; background-color: #689f38; padding: 10px; text-align: center; color: #fff; margin: 18px 0 0 0; font-size: 22px; -webkit-border-radius: 5px; border-radius: 5px; -webkit-transition: 0.2s; -moz-transition: 0.2s; transition: 0.2s; }
.modal_phone #modal_phone_1 button { display: block; border: none; width: 180px; background-color: #689f38; padding: 10px; text-align: center; color: #fff; margin: 18px 0 0 0; font-size: 22px; -webkit-border-radius: 5px; border-radius: 5px; -webkit-transition: 0.2s; -moz-transition: 0.2s; transition: 0.2s; }
/* line 1105, ../sass/main.sass */
.one_click #one_click_buy button:hover { background-color: #5e9032; }
.modal_email #modal_email_1 button:hover { background-color: #5e9032; }
.modal_phone #modal_phone_1 button:hover { background-color: #5e9032; }
/* line 1107, ../sass/main.sass */
.one_click .summary { background-color: #d7d7d7; color: #0b0b0b; font-size: 18px; padding: 10px 15px; margin: 20px 0; font-family: "ProximaNova-Semibold"; }
.modal_email .summary { background-color: #d7d7d7; color: #0b0b0b; font-size: 18px; padding: 10px 15px; margin: 20px 0; font-family: "ProximaNova-Semibold"; }
.modal_phone .summary { background-color: #d7d7d7; color: #0b0b0b; font-size: 18px; padding: 10px 15px; margin: 20px 0; font-family: "ProximaNova-Semibold"; }

/* line 1117, ../sass/main.sass */
.one_tovar .articul, .one_tovar .table_cart .skidka, .table_cart .one_tovar .skidka, .one_tovar .table_cart .you_price, .table_cart .one_tovar .you_price { margin-bottom: 50px; }
/* line 1119, ../sass/main.sass */
.one_tovar .gal_wrap { position: relative; }
/* line 1121, ../sass/main.sass */
.one_tovar .gal_wrap .tovar_gallery { text-align: center; border: 1px solid #000; }
/* line 1124, ../sass/main.sass */
.one_tovar .gal_wrap .tovar_gallery img { max-width: 100%; height: auto; }
/* line 1127, ../sass/main.sass */
.one_tovar .gal_wrap .gal_nav { position: absolute; right: 30px; bottom: 20px; width: 85px; }
/* line 1133, ../sass/main.sass */
.one_tovar .gal_wrap .next_slide, .one_tovar .gal_wrap .prev_slide { cursor: pointer; width: 31px; height: 52px; background-image: url(../img/slider_nav.png); }
/* line 1138, ../sass/main.sass */
.one_tovar .gal_wrap .prev_slide { float: left; background-position: left top; }
/* line 1141, ../sass/main.sass */
.one_tovar .gal_wrap .prev_slide:hover { background-position: left bottom; }
/* line 1143, ../sass/main.sass */
.one_tovar .gal_wrap .next_slide { float: right; background-position: right top; }
/* line 1146, ../sass/main.sass */
.one_tovar .gal_wrap .next_slide:hover { background-position: right bottom; }
/* line 1148, ../sass/main.sass */
.one_tovar .right_side { position: relative; overflow: hidden; z-index: 40; }
/* line 1153, ../sass/main.sass */
.one_tovar .right_side .links .nalichie { color: #689f38; font-size: 26px; font-family: "ProximaNova-Semibold"; padding-left: 50px; display: inline-block; background: url(../img/nalichie_tovar.jpg) 0 center no-repeat; margin-right: 70px; }
/* line 1161, ../sass/main.sass */
.one_tovar .right_side .links .compare { cursor: pointer; display: inline-block; color: #919a9e; font-size: 26px; font-family: "ProximaNova-Semibold"; padding-left: 50px; background: url(../img/compare_tovar.jpg) 0 center no-repeat; }
/* line 1168, ../sass/main.sass */
.one_tovar .right_side .tovar_price { text-transform: uppercase; color: #263238; font-size: 62px; font-family: "ProximaNova-Light"; }
/* line 1173, ../sass/main.sass */
.one_tovar .right_side .tovar_price span { font-family: "ProximaNova-Bold"; margin-right: 5px; }
/* line 1176, ../sass/main.sass */
.one_tovar .label_check {cursor: pointer; padding-left: 34px; background: url(../img/need.jpg) no-repeat; font-size: 20px; }
/* line 1180, ../sass/main.sass */
.one_tovar .label_check input { position: absolute; left: -999999999px; }
/* line 1183, ../sass/main.sass */
.one_tovar label.c_on { background: url(../img/need_on.jpg) no-repeat; }
/* line 1186, ../sass/main.sass */
.one_tovar .btns .to_cart, .one_tovar .btns .aktcii .single_akt_tovar .overlay .buy, .aktcii .single_akt_tovar .overlay .one_tovar .btns .buy, .one_tovar .btns .buy {cursor: pointer; display: block; width: 275px; background-color: #689f38; padding: 10px; text-align: center; color: #fff; font-size: 14px; line-height: 22px; -webkit-border-radius: 5px; border-radius: 5px; font-size: 25px; margin-top: 20px; }
/* line 1199, ../sass/main.sass */
.one_tovar .btns .to_cart:hover, .one_tovar .btns .buy:hover { background-color: #5d8f32; text-decoration: none; }
/* line 1202, ../sass/main.sass */
.one_tovar .btns .buy { background-color: #3e7e9a; }
/* line 1205, ../sass/main.sass */
.one_tovar .btns .buy:hover { background-color: #37718a; text-decoration: none; }
/* line 1208, ../sass/main.sass */
.one_tovar .small_description, .one_tovar .mini_characteristics { font-size: 18px; color: #3a3a3a; line-height: 20px; margin-top: 15px; }
/* line 1213, ../sass/main.sass */
.one_tovar .mini_characteristics { margin-top: 0; }

/* line 1217, ../sass/main.sass */
.tab_content { font-size: 14px; padding-bottom: 40px; border-bottom: 1px solid #3f70b0; }
/* line 1221, ../sass/main.sass */
.tab_content ul { margin: 0; padding: 0; }
/* line 1224, ../sass/main.sass */
.tab_content ul:after { display: none; }
/* line 1226, ../sass/main.sass */
.tab_content ul li { display: block; float: none; color: #3a3a3a; font-size: 14px; margin: 0; padding: 0; }
/* line 1233, ../sass/main.sass */
.tab_content ul li:hover { color: #3A3A3A; }
/* line 1235, ../sass/main.sass */
.tab_content span.title { font-size: 18px; display: block; margin: 0; font-family: "ProximaNova-Semibold"; }

/* line 1242, ../sass/main.sass */
button.accordion { color: #263238; cursor: pointer; padding: 10px 10px 10px 50px; background: #eceff1 url(../img/arrow_right.png) 20px center no-repeat; width: 470px; margin-right: 10px; font-size: 18px; text-align: left; border: none; outline: none; transition: 0.4s; }

/* line 1255, ../sass/main.sass */
button.accordion.active { background: #ddd url(../img/arrow_down.png) 20px center no-repeat !important; }

/* line 1258, ../sass/main.sass */
button.accordion.active, button.accordion:hover { background-color: #ddd; }

/* line 1261, ../sass/main.sass */
div.panel { padding: 0 18px; background-color: #FFF; display: none; max-height: 0; opacity: 0; -webkit-transition: 0.6s ease-in-out; -moz-transition: 0.6s ease-in-out; transition: 0.6s ease-in-out; }

/* line 1269, ../sass/main.sass */
div.panel.show { display: block; opacity: 1; max-height: 1700px; }

/* line 1273, ../sass/main.sass */
.title_line { margin-bottom: 10px; }
/* line 1275, ../sass/main.sass */
.title_line .name_heading, .title_line .time_heading, .title_line .price_heading { padding: 6px 10px; color: #263238; font-family: "ProximaNova-Semibold"; font-size: 23px; margin-right: 10px; width: 470px; float: left; background-color: #90a4ae; }
/* line 1284, ../sass/main.sass */
.title_line .time_heading { width: 225px; }
/* line 1287, ../sass/main.sass */
.title_line .price_heading { width: 225px; }

/* line 1290, ../sass/main.sass */
.one_sect { position: relative; margin-bottom: 10px; }
/* line 1293, ../sass/main.sass */
.one_sect .just-wrap { position: absolute; top: 0; left: 480px; }
/* line 1297, ../sass/main.sass */
.one_sect .just-wrap .time, .one_sect .just-wrap .price { background-color: #eceff1; color: #263238; cursor: pointer; width: 225px; padding: 10px 10px 10px 15px; text-align: left; float: left; font-size: 18px; border: none; outline: none; transition: 0.4s; margin-right: 10px; }
/* line 1312, ../sass/main.sass */
.one_sect .just-wrap .buy { display: block; width: 180px; float: left; padding: 10px 10px 10px 15px; background-color: #3f70b0; text-align: center; color: #fff; font-size: 18px; -webkit-transition: 0.3s; -moz-transition: 0.3s; transition: 0.3s; }
/* line 1322, ../sass/main.sass */
.one_sect .just-wrap .buy:hover { background-color: #38649e; text-decoration: none; }

/* line 1326, ../sass/main.sass */
.triangle { background-color: #3e7ba0; height: 10px; margin-top: 15px; }
/* line 1330, ../sass/main.sass */
.triangle:before { content: ""; position: absolute; top: -20px; left: 33px; border: 10px solid transparent; border-bottom: 10px solid #3e7ba0; }

/* line 1337, ../sass/main.sass */
.description { margin: 20px 0; }
.sravn_back{
    background-color: #ffe082;
    padding-left: 20px;
}
.btr_loc_np{
    z-index: 5;
    position: relative;
    top: 2px;
    left: 62%;
    border-bottom: 1px dashed;
    font-size: 14px;
    color: black;
}.btr_loc_np:hover:active{
     color: black;
     text-decoration: none;
 }
.btr_loc_np:hover, .btr_loc_np:focus{
    color: black;
    text-decoration: none;
}
.h_style_20{
    width: 30%;
    background-color: #ffe082;
    padding: 6px 18px;
    margin-top: 5%;
    margin-bottom: 3%;
    font-family: "ProximaNova-Semibold"
}
.co_l_4:nth-child(3) {
    margin-right: 0!important;
}
.co_l_4{
    border: 1px solid#c4c4c4;
    margin-right: 5%;
    width: 30%;
    float: left;
}
.str_text{
    color: black;
    font-size: 20px;
}
.mar_text_tovar{
    margin-bottom: 2%;
    margin-top: 2%;
}
.span_text_span{
    font-size: 15px;
    color: #797979;
}
.span_text_sp{
    float: left;
    font-size: 15px;
    color: black;
}
.bat_whi{
    margin-top: 6%;
    margin-bottom: 10%;
}
.cena_text{
    font-size: 28px;
    color: black;
}
.bt_back_fp{
    display: block;
    width: 60%;
    background-color: #689f38;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    border-radius: 5px;
    outline: none!important;
    border: none;
}
.bt_back_fp:hover{
    display: block;
    width: 60%;
    background-color: #689f38;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    border-radius: 5px;
    outline: none!important;
    border: none;
}
.bt_back_fp:active:hover{
    display: block;
    width: 60%;
    background-color: #689f38;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    border-radius: 5px;
    outline: none!important;
    border: none;
}
.bt_back_fp:focus{
    display: block;
    width: 60%;
    background-color: #689f38;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    border-radius: 5px;
    outline: none!important;
    border: none;
}
.img_class_heid{
    max-width: 100%;
    height: 300px;
    /* margin-left: 3%; */
    position: relative;
    /* border: 1px solid#c4c4c4; */
    top: -12px;
    margin: 0 auto;
    display: block;
}
.div_hei{
    height: 60px;
}
.das{
    margin: 13px 8px;
    border: 1px solid#c4c4c4;
}
@media (min-width : 992px) and (max-width : 1200px) {
    .img_class_heid{
        height: 250px;
    }
    .btr_loc_np {
        left: 52%;
    }
    .str_text {
        font-size: 19px;
    }
    .div_hei{
        height: 70px;
    }
    .h_style_20 {
        width: 36%;
    }
}
@media (min-width : 768px) and (max-width : 992px) {
    .img_class_heid{
        height: 200px;
    }
    .btr_loc_np {
        left: 41%;
        font-size: 13px;
    }
    .str_text {
        font-size: 17px;
    }
    .div_hei{
        height: 90px;
    }
    .h_style_20 {
        width: 47%;
        font-size: 30px;
    }
    .span_text_span {
        font-size: 13px;
    }
    .span_text_sp {
        font-size: 12px;
    }
    .cena_text {
        font-size: 25px;
    }
}
@media (min-width : 320px) and (max-width : 768px) {
    .co_l_4 {
        width: 100%;
        margin-bottom: 5%;
    }
    .img_class_heid{
        height: 200px;
    }
    .btr_loc_np {
        left: 49%;
        font-size: 17px;
    }
    .str_text {
        font-size: 19px;
    }
    .div_hei{
        height: 60px;
    }
    .h_style_20 {
        width: 86%;
        font-size: 25px;
        margin-top: 7%;
        margin-bottom: 9%;
    }
    .span_text_span {
        font-size: 15px;
    }
    .span_text_sp {
        font-size: 15px;
    }
    .cena_text {
        font-size: 28px;
    }
    .bat_whi {
        margin-top: 6%;
        margin-bottom: 6%;
    }
    .img_class_heid {
        top: -20px;
    }
}
@media (min-width : 500px) and (max-width : 768px) {
    .img_class_heid {
        height: 364px;
    }
    .btr_loc_np {
        left: 64%;
    }
}
.pad_text1{
    display: none;
}
.pad_text1 {

    font-size: 15px;
    font-family: Roboto-Regular;
    color: rgb(110, 110, 110);
    line-height: 1.467;
    text-align: left;
    position: relative !important;
    background-color: white!important;
    border: none!important;
    -webkit-box-shadow: none!important;
}
.spa_text_22{
    font-size: 14px;
    border-bottom: 1px dashed;
    color: black;
}
.spa_text_22:hover{
    text-decoration: none!important;
    outline: none;
}
.pad:hover{
    text-decoration: none!important;
}
.pad {
    text-align: left;
}
.style_alert{
    margin-top: 25px;
    font-family: "ProximaNova-Light";
    font-size: 12px;
    color: #fff;
    display: inline-block;
    padding: 13px 33px 11px;
    text-transform: uppercase;
    background-color: #689f38;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.style_alert a {
    font-family: "ProximaNova-Light";
    font-size: 12px;
    color: #d8d8d8;
    font-weight: 700;
}
.close_style{
    background: none;
    border: none;
    font-size: 20px;

}
.span_text_sps{
    float: left;
    font-size: 15px;
    color: black;
    padding-left: 15%;
    margin-bottom: 5%;
    margin-top: 5%;
}
.span_text_spans{
    font-size: 15px;
    color: #797979;
    margin-bottom: 5%;
    margin-top: 5%;
}
.tp_tr{
    margin-bottom: 2%;
    margin-top: 2%;
}
.ll_right{
    border: none;
    background-color: #ffe082;
    font-size: 22px;
    color: #000;
    margin-left: 12px;
    text-align: center;
    padding: 3px;
    width: 150px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
}
.ll_right a{
    color: #000;
}

.ll_right a:hover{
    text-decoration: none!important;
    color: #000;
}
.ll_right a:focus{
    text-decoration: none!important;
    color: #000;
}