/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    header .phone_wrap a {
        font-size: 18px;
    }

    header .mini_cart a {
        padding: 13px 11px 13px 33px;
    }

    header .call_back, header .write_us {
        padding: 10px 5px 15px 23px;
    }

    header .call_back {
        background-position: 5px 9px;
    }

    header .write_us {
        background-position: 4px 11px;
    }

    header .gift_wraper span {
        font-size: 30px;
    }

    header .gift_form button {
        padding: 8px 19px;
    }

    .cat_items .cat_wrap .cat_item .cat_item_link {
        width: 305px;
    }

    .aktcii .single_akt_tovar .price {
        padding: 10px 5px 10px 0px;
        font-size: 15px;
    }

    .aktcii .best_offer .tov_name {
        font-size: 17px;
    }

    .aktcii .best_offer .tov_desc {
        line-height: 17px;
    }

    .aktcii .single_akt_tovar {
        min-height: 201px;
    }

    .hits .single_hit_tov .to_cart, .hits .single_hit_tov .aktcii .single_akt_tovar .overlay .buy, .aktcii .single_akt_tovar .overlay .hits .single_hit_tov .buy, .hits .single_hit_tov .buy {
        font-size: 18px;
    }

    .table_cart .number input {
        width: 35px;
    }
    .cart_info .links a {
        margin-bottom: 10px;
    }
    .tov_slider .single_hit_tov {
        width: auto;
    }
    .submit_delivery {
      padding-bottom: 50px;
  }
  .title_line .name_heading, .title_line .time_heading, .title_line .price_heading, button.accordion {
    width: 300px;
}
.title_line .time_heading, .title_line .price_heading, .one_sect .just-wrap .time, .one_sect .just-wrap .price {
    width: 200px;
}
.one_sect .just-wrap {
    position: absolute;
    top: 0;
    left: 310px;
}
.single_hit_tov {
    width: 309px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    header .mini_cart {
        margin-top: 0;
    }
    header .write_us,header .call_back {
        margin-bottom: 5px;
    }
    header #header_search_form {
        display: none;
    }
    header .phone_wrap {
        margin-top: 8px;
    }
    header .main_menu li.catalog_menu_cats a.catalog_menu_parent {
        width: 100px;
        padding: 10px;
    }
    header .main_menu li.catalog_menu_cats a.catalog_menu_parent:after {
        right: 4px;
    }
    header .main_menu ul li a {
        padding: 10px;
    }
    header .main_menu .categories_list:before {
        left: 77px;
    }
    header .gift_form input {
        margin-bottom: 5px;
    }
    header .home_branding {
        background-position: bottom center;
    }
    .cat_items .cat_wrap .cat_item .cat_item_link {
        width: 220px;
        font-size: 18px;
    } 
    .cat_items .cat_wrap .cat_item .cat_item_link:after {
        right: 10px;
        top: 20px;
    }
    .aktcii .subscribe_line form input[type="email"] {
        margin-left: 0;
    }
    .single_hit_tov {
        width: 48%;
        margin: 5px 1%;
    }
    header.inner_page .home_branding {
        background-position: top center;
    }
    .table_cart .cart_table_row .table_cell:nth-child(1) {
        width: 33%;
        height: 100px;
    }

    .table_cart .cart_table_row .table_cell:nth-child(2) {
        width: 67%;
    }

    .table_cart .cart_table_row .table_cell:nth-child(3) {
        width: 50%;
        padding: 0 20px;
    }

    .table_cart .cart_table_row .table_cell:nth-child(4) {
        width: 50%;
        padding: 0 20px;
    }

    .table_cart .cart_table_row .table_cell:nth-child(5) {
        width: 100%;
        padding: 0 20px 20px 20px;
    }
    .cart_info .links {
        float: none;
    }
    .one_tovar .right_side .links .nalichie {
        padding-left: 41px;
        margin-right: 12px;
    }
    .one_tovar .right_side .tovar_price {
      font-size: 45px;
  }
  .right_side .links {
      display: none;
  }
  .title_line {
      display: none;
  }
  button.accordion, .one_sect .just-wrap .time, .one_sect .just-wrap .price, .one_sect .just-wrap .buy {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.one_sect .just-wrap {
    position: static;
}

.one_sect {
    position: static;
    margin-bottom: 40px;
}


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
   .container {
    padding: 0 15px;
}
.watch_video img {
    display: block;
    margin: 0 auto;
}
.tov_slider .single_hit_tov {
    width: auto;    
}
.hits .customNav, .seen .customNav {
    margin-top: 190px;
}
.home_branding {
    display: none; 
}
header.inner_page .home_branding {
    background-position: top center;
}

.table_cart .cart_table_row .table_cell:nth-child(1) {
    width: 33%;
}

.table_cart .cart_table_row .table_cell:nth-child(2) {
    width: 67%;
}

.table_cart .cart_table_row .table_cell:nth-child(3) {
    width: 50%;
    padding: 0 20px;
}

.table_cart .cart_table_row .table_cell:nth-child(4) {
    width: 50%;
    padding: 0 20px;
}

.table_cart .cart_table_row .table_cell:nth-child(5) {
    width: 100%;
    padding: 0 20px 20px 20px;
}

.table_cart .sum {
    margin-top: 0;
}

.table_cart .cart_table_row {
    border-bottom: 1px solid #000;
    border-left: none;
    border-right: none;
    border-top: none;
}

.table_cart .amount {
    font-size: 30px;
}

.table_cart .remove {
    margin-top: 18px;
}
.table_cart .you_price span, .table_cart .skidka span {
    font-size: 16px;
}
.table_cart .tov_name {
    font-size: 17px;
}
.table_cell {
    height: 100px;
}
.aktcii .single_akt_tovar .price {
    padding: 10px 2px 10px 0px;
    font-size: 13px;
}

}
/* Small Devices custom width */
@media only screen and (max-width : 650px) {
    .cat_wrap {
        display: block !important;
    }
    .cat_items .cat_wrap .cat_item {
        display: block;
        margin: 0 auto 10px;
    }
    .cat_items .cat_wrap .cat_item {
        display: block;
        margin: 0 auto 10px;
        width: 220px;
    }
    .main_menu {
        display: none;
    }
    .cart_info .links a {
        margin-bottom: 10px;
    }
    .single_hit_tov .tov_name {
        font-size: 14px;   
    }
    .single_hit_tov {
        max-height: 450px;
        overflow: hidden;
    }
    .cat_items .cat_wrap .cat_item .cat_item_link {
        width: 100%;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    html {
        overflow-x: hidden;
    }
    .container {
        padding: 0 15px;
    }

    header .logo_wrap {
        text-align: left;
    }

    header .logo_wrap img {
        max-width: 270px
    }

    .title_line {
        display: none;
    }

    button.accordion, .one_sect .just-wrap .time, .one_sect .just-wrap .price, .one_sect .just-wrap .buy {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    .one_sect .just-wrap {
        position: static;
    }

    .one_sect {
        position: static;
        margin-bottom: 40px;
    }

    .watch_video img {
        display: block;
        margin: 0 auto;
    }

    .tov_slider .single_hit_tov {
        width: 95%;
        margin: 0 auto;
    }

    header.inner_page .home_branding, header .home_branding nav.main_menu {
        display: none;
    }

    header .gift_form input {
        text-align: center;
        margin-bottom: 15px;
    }

    header .home_branding {
        background-position: top left;
    }

    .cat_items .cat_wrap {
        display: block;
    }

    .cat_items .cat_wrap .cat_item .submenu {
        position: static;
        width: 100%;
        display: none;
    }

    .cat_items .cat_wrap .cat_item .submenu:before {
        top: 38px;
        left: 259px;
    }

    .cat_items .cat_wrap .cat_item {
        display: block;
        width: 100%;
        margin: 5px auto;
    }

    .cat_items {
        margin: 10px 0 0;
    }

    .title {
        margin-bottom: 30px;
        margin-top: 0px;
    }

    .aktcii .single_akt_tovar .overlay {
        display: none !important;
    }

    .aktcii .single_akt_tovar .price {
        width: 60% !important;
    }

    .aktcii .single_akt_tovar .more {
        margin: 13px 0;
    }

    .single_akt_tovar .to_cart {
        font-size: 18px;
        width: 100%;
    }

    .aktcii .subscribe_line span {
        display: block;
    }

    .aktcii .subscribe_line form {
        display: block;
    }

    .aktcii .subscribe_line form input[type="email"] {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0;
        padding: 9px;
    }

    .aktcii .subscribe_line form button[type="submit"] {
        width: 100%;
        margin-left: 0;
        padding: 9px;
    }

    .single_hit_tov {
        width: 100%;
        margin: 5px -1px;
    }

    .single_hit_tov .info_overlay {
        display: none;
    }

    .next_item {
        position: static;
        width: 100%;
        line-height: normal;
        float: right;
    }

    .hits .customNav, .seen .customNav {
        margin-top: 190px;
    }

    .all_cats ul.cats_list {
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
    }

    .all_cats ul.cats_list li {
        list-style-type: none;
        margin: 10px;
        display: block;
    }

    footer .branding figure {
        text-align: center;
    }

    footer .branding .info img {
        display: none;
    }

    footer .branding .info .call_back {
        float: none;
        display: block;
        margin: 15px auto 0;
        width: 282px;
        text-align: center;
    }

    .with-decoration {
        font-size: 24px;
    }

    .container {
        padding: 0 5px;
    }

    .one_tovar .right_side .links {
        margin-top: 10px;
    }

    .one_tovar .right_side .links .nalichie {
        margin: 0 12px;
    }

    .one_tovar .right_side .tovar_price {
        font-size: 45px;
        text-align: center;
    }

    .need_montaj {
        text-align: center;
    }

    .one_tovar .btns a {
        width: 100% !important;
        padding: 20px !important;
    }

    .tabs ul li {
        float: none;
        padding: 4px 15px;
    }
    .tab_content_wrapper {
        height: 200px;
        overflow: hidden;
    }

    .table_cart .cart_table_row .table_cell {
        display: block;
    }

    .table_cart .articul, .table_cart .skidka, .table_cart .you_price {
        margin-top: 0;
        -ms-overflow-x: hidden;
        overflow-x: hidden;
    }

    .table_cart .cart_table_row .table_cell:nth-child(1) {
        width: 33%;
    }

    .table_cart .cart_table_row .table_cell:nth-child(2) {
        width: 67%;
    }

    .table_cart .cart_table_row .table_cell:nth-child(3) {
        width: 50%;
        padding: 0 20px;
    }

    .table_cart .cart_table_row .table_cell:nth-child(4) {
        width: 50%;
        padding: 0 20px;
    }

    .table_cart .cart_table_row .table_cell:nth-child(5) {
        width: 100%;
        padding: 0 20px 20px 20px;
    }

    .table_cart .sum {
        margin-top: 0;
    }

    .table_cart .cart_table_row {
        border-bottom: 1px solid #000;
        border-left: none;
        border-right: none;
        border-top: none;
    }

    .table_cart .amount {
        font-size: 30px;
    }

    .table_cart .remove {
        margin-top: 18px;
    }

    .cart_info .links, .cart_info .info {
        float: none;
    }

    .cart_info .links a {
        display: block !important;
        width: 100% !important;
        float: none !important;
        margin-bottom: 10px;
        padding: 12px !important;
    }

    .confirm {
        margin-top: 30px;
        text-align: center;
    }

    .label_check {
        font-size: 22px;
    }

    .confirm_btn {
        display: block;
        margin-bottom: 40px;
    }

    #delivery_method button {
        border: none;
        width: 100%;
    }

    .one_click {
        width: 100%;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {
    .all_cats ul.cats_list {
        margin: 0;
        padding: 0;
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1;
    }
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .tov_slider .single_hit_tov {
        /*width: auto;*/
        margin: 0 auto;
        
    }
}

@media screen and (min-width: 1600px) {
    .container {
        width: 1570px;
    }

    .all_cats ul.cats_list {
        margin: 0;
        padding: 0;
        -webkit-columns: 5;
        -moz-columns: 5;
        columns: 5;
    }
    .single_hit_tov {
        width: 256px;
    }
    .single_hit_tov .info_overlay .buy , .single_hit_tov .info_overlay .to_cart{
        margin: 15px 0;
    }
    header .logo_wrap {
        text-align: left;
    }
    .main_menu_wrap {
        display: block !important;
    }
    .catalog_menu_cats {
        float: left;
    }
    .main_menu_item {
        float: right;
        margin-left: 80px;
    }
    .cat_items .cat_wrap .cat_item .cat_item_link {
        width: 445px;
        font-size: 29px;
    }
    .cat_items .cat_wrap .cat_item .submenu li a {
        font-size: 21px;
    }
    header .gift_form input, header .gift_form button {
        font-size: 20px;
    }
    .aktcii .single_akt_tovar .tov_name, .aktcii .single_akt_tovar .overlay .top .overlay_title {
        font-size: 22px;
        line-height: 23px;
    }
    .aktcii .single_akt_tovar .red {
        font-size: 20px;
    }
    .aktcii .single_akt_tovar .price {
        font-size: 22px;
    }
    .aktcii .subscribe_line {
        font-size: 33px;
    }
    .aktcii .subscribe_line form input[type="email"] {
        padding: 8px;
    }
    .aktcii .best_offer .tov_name {
        font-size: 28px;
        line-height: 30px;
    }
    .aktcii .best_offer .tov_desc {
        font-size: 18px;
        line-height: 17px;
    }
    .aktcii .best_offer .label {
        right: -88px;
    }
    .aktcii .best_offer {
        min-height: 438px;
    }

    header .phone_wrap {
        margin-top: 12px;
        float: right;
        margin-right: 11px;
    }
    header .mini_cart {
        margin: 16px 0 0 0;
        float: right;
    }
    
}

@media screen and (min-width: 1900px) {
    .container {
        width: 1870px;
    }
    .single_hit_tov {
        width: 306px;
    }
}