/* line 4, ../sass/mobile_styles.sass */
.mob_menu_btn { float: left; }
/* line 6, ../sass/mobile_styles.sass */
.mob_menu_btn a.mob_menu { background-color: #3f7b9f; color: #fff; border-radius: 5px; font-size: 16px; text-align: center; padding: 8px 12px; display: inline-block; font-family: "ProximaNova-Semibold"; }

/* line 15, ../sass/mobile_styles.sass */
.butuns { float: right; }
/* line 17, ../sass/mobile_styles.sass */
.butuns .mobile_cart { background: #ffe083 url(../img/cart_icon.png) 7px 12px no-repeat; padding: 7px 13px 5px 28px; position: relative; top: -10px; border-radius: 5px; color: #000; font-size: 16px; display: inline-block; }
/* line 26, ../sass/mobile_styles.sass */
.butuns .mobile_cart:hover { background-color: #e5c975; }
/* line 28, ../sass/mobile_styles.sass */
.butuns .mobile_cart a { color: #000; }
/* line 30, ../sass/mobile_styles.sass */
.butuns .mob_search { display: inline-block; }
/* line 32, ../sass/mobile_styles.sass */
.butuns .mob_search .search_opener { border: 1px solid #546e7b; display: block; width: 41px; height: 35px; border-radius: 5px; background: #fff url(../img/search_tool.png) center center no-repeat; }
/* line 39, ../sass/mobile_styles.sass */
.butuns .mob_search input { display: none; position: absolute; left: 5%; width: 90%; top: 50px; padding: 7px 15px; border: 1px solid #546e7b; border-radius: 5px; z-index: 41; }
/* line 49, ../sass/mobile_styles.sass */
.butuns .tel { display: inline-block; width: 40px; height: 33px; border-radius: 5px; background: #cfd8dd url(../img/phone_call.png) center center no-repeat; }
/* line 55, ../sass/mobile_styles.sass */
.butuns .mail { display: inline-block; width: 40px; height: 33px; border-radius: 5px; background: #cfd8dd url(../img/mail.png) center center no-repeat; }

/* line 62, ../sass/mobile_styles.sass */
.mob_cats_wrap, .mobile_mnu { display: none; }

/* line 65, ../sass/mobile_styles.sass */
.mobile_mnu { position: relative; }
/* line 67, ../sass/mobile_styles.sass */
.mobile_mnu .bg_blue { background: #3e7ba0; padding: 30px 0; }
/* line 71, ../sass/mobile_styles.sass */
.mobile_mnu .bg_blue .mobile_nav ul { margin: 0; padding: 0 20px; -webkit-columns: 2; -moz-columns: 2; columns: 2; }
/* line 75, ../sass/mobile_styles.sass */
.mobile_mnu .bg_blue .mobile_nav ul li { list-style-type: none; margin: 0px 0 10px 0; }
/* line 78, ../sass/mobile_styles.sass */
.mobile_mnu .bg_blue .mobile_nav ul li a { color: #fff; font-size: 18px; font-family: "ProximaNova-Semibold"; }
/* line 82, ../sass/mobile_styles.sass */
.mobile_mnu .bg_blue .mobile_nav ul li a:hover { color: #ffe082; text-decoration: none; }
/* line 85, ../sass/mobile_styles.sass */
.mobile_mnu .bg_yellow { background-color: #ffe082; }
/* line 87, ../sass/mobile_styles.sass */
.mobile_mnu .bg_yellow .mob_catalog { color: #000; font-size: 25px; font-family: "ProximaNova-Semibold"; padding: 10px 20px; display: block; text-decoration: none; }
/* line 94, ../sass/mobile_styles.sass */
.mobile_mnu .bg_yellow .mob_catalog:after { content: ""; display: block; width: 18px; height: 10px; background-image: url(../img/arrow_down.png); position: absolute; right: 28px; top: 20px; }
/* line 103, ../sass/mobile_styles.sass */
.mobile_mnu .bg_yellow .mob_cats_wrap { padding: 15px 0 15px 25px; background-color: #3e8099; margin-top: 0; }
/* line 107, ../sass/mobile_styles.sass */
.mobile_mnu .bg_yellow .mob_cats_wrap li { list-style-type: none; margin: 0px 0 10px 0; }
/* line 110, ../sass/mobile_styles.sass */
.mobile_mnu .bg_yellow .mob_cats_wrap li a { color: #fff; font-size: 18px; font-family: "ProximaNova-Light"; display: block; }
/* line 115, ../sass/mobile_styles.sass */
.mobile_mnu .bg_yellow .mob_cats_wrap li a:hover { color: #fff; text-decoration: none; }

/* line 120, ../sass/mobile_styles.sass */
.single_akt_tovar .to_cart { display: block; width: 145px; background-color: #689f38; padding: 10px; text-align: center; color: #fff; font-size: 14px; border-radius: 5px; }

/* line 130, ../sass/mobile_styles.sass */
.prev_item, .next_item { cursor: pointer; width: 31px !important; height: 52px !important; background-image: url(../img/slider_nav.png) !important; }

/* line 135, ../sass/mobile_styles.sass */
.prev_item { background-position: left top !important; }
/* line 137, ../sass/mobile_styles.sass */
.prev_item:hover { background-position: left bottom !important; }

/* line 139, ../sass/mobile_styles.sass */
.next_item { background-position: right top !important; float: right; }
/* line 142, ../sass/mobile_styles.sass */
.next_item:hover { background-position: right bottom !important; }

/* line 146, ../sass/mobile_styles.sass */
a.show_more { font-size: 22px; color: #71777a; display: block; position: relative; }
/* line 151, ../sass/mobile_styles.sass */
a.show_more span { border-bottom: 1px dashed #71777a; }
/* line 153, ../sass/mobile_styles.sass */
a.show_more span:hover { text-decoration: none; color: #000; border-bottom: 1px solid #000; }
/* line 157, ../sass/mobile_styles.sass */
a.show_more:hover { text-decoration: none; }
/* line 159, ../sass/mobile_styles.sass */
a.show_more:before { content: ""; display: block; position: absolute; top: -136px; left: 0; width: 100%; height: 136px; background-color: rgba(255, 255, 255, 0); background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.9) 70%, white 100%); background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.9) 70%, white 100%); }
