.reviews_button button{
    display: block;
    border: none;
    width: 210px;
    background-color: #689f38;
    padding: 14px;
    text-align: center;
    color: #fff;
    margin: 18px 0 0 0;
    font-size: 22px;
    border-radius: 5px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.pole_reviews {
    display: block;
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    margin: 10px 0;
    color: #000;
    border: 1px solid #888888;
    font-family: "ProximaNova-Light";
}
.text_reviews {
      font-family: "ProximaNova-Semibold";
  }
.text_reviews_title {
    background-color: #006699;
    padding: 10px 15px;
    color: #fff;
    font-size: 22px;
    font-family: "ProximaNova-Semibold";
}