.with-decoration_my {
    color: #263238; font-family: "ProximaNova-Semibold";
    background-color: #ffe082;
    padding: 10px 100px 10px 15px;
    display: inline-block; font-size: 27px;
}
.search_button input{
    background-color: #3e7e9a;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 22px;
    border-radius: 5px;
}
.search_pole input{
    width: 100%;
    border-color: #3e7e9a;
    display: block;
    text-align: center;
    font-size: 22px;
    border-radius: 5px;
}
.search_pole input:hover{
    width: 100%;
    border-color: #689f38;
    display: block;
    text-align: center;
    font-size: 22px;
    border-radius: 5px;
}