.tabs{
	display: block;
	margin-top: 75px;
}
.tabs > div{
	padding-top:30px;
}
.tabs ul{
	margin:0px;
	padding:0px;
}
.tabs ul:after{
	content:"";
	display:block;
	clear:both;
	height:1px;
	background:#3f70b0;
}
.tabs ul li{
	margin:0px;
	padding:0px;
	cursor:pointer;
	display:block;
	float:left;
	padding:10px 15px;
	color: #939799;
	margin-right: 70px;
}
.tabs ul li:hover {
	color: #3f70b0;	
}
.tabs ul li:hover span {
	border-bottom: 1px dashed #3f70b0;
}
.tabs ul li:hover span span {
	border: none;
}
.tabs ul li.active span > span {
	border: none;
}
.tabs ul li.active {
	color: #3f70b0;
}
.tabs ul li.active span {
	border-bottom: 1px dashed #3f70b0;
}
.tabs ul li.active span.dashed {
	border: none;
}
.tabs ul li span.dashed {
	border-bottom: 1px dashed;
}
.tabs ul li.active, .tabs ul li.active:hover{
	
}
.tabs ul li:hover{
	
}
.tabs ol li {
	list-style-type: none;
}
.tabs strong, .tabs p strong {
	display: block;
}